// font-size PC
$fzSmallPC: 14px;
$fzBasePC: 16px;
$fzMediumPC: 22px;
$fzLargePC: 26px;
$fzXLPC: 30px;
$fzXXLPC: 34px;

// font-size SP
$fzSmallSP: calc(1vw * 14 / 390 * 100);
$fzBaseSP: calc(1vw * 16 / 390 * 100);
$fzMediumSP: calc(1vw * 22 / 390 * 100);
$fzLargeSP: calc(1vw * 26 / 390 * 100);
$fzXLSP: calc(1vw * 30 / 390 * 100);
$fzXXLSP: calc(1vw * 34 / 390 * 100);

$fzSmall: 14;
$fzBase: 16;
$fzMedium: 18;
$fzLarge: 22;
$fzXL: 30;

// font-weight
$fwBold: 700;
$fwMedium: 500;
$fwNormal: 400;

// line-height
$lhFlat: 1;
$lhSmall: 1.4;
$lhBase: 1.8;

// letter-speacing
$lsBase: .04em;
$lsMedium: .06em;
