@use '../../styles/global/import' as *;
@use '../../styles/config/import' as *;

@include pc {
  .inner {
    max-width: vwMin($innerWidthPC);
    margin: 0 auto;
  }
}

@include sp {
  .inner {
    margin: 0 vw($innerWidthSP);
  }
}
