@use '../../styles/global/import' as *;
@use '../../styles/config/import' as *;

@include pc {
  .headingLv1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 20px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.4));
    font-size: $fzXLPC;
    text-align: center;
    font-weight: $fwBold;
    text-shadow: 0 0 1px $white01;
  }
}

@include sp {
  .headingLv1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: vw(20);
    background: linear-gradient(to right, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.4));
    font-size: $fzXLSP;
    text-align: center;
    font-weight: $fwBold;
    text-shadow: 0 0 1px $white01;
  }
}
