@use "../global/import" as *;
@use "../config/import" as *;

body {
	word-break: break-all;
	overflow-wrap: break-word;
}

// pc・sp
p,li,dt,dd,a {
	line-height: $lhBase;
	letter-spacing: $lsBase;
}

h1,h2,h3,h4 {
  line-height: $lhSmall;
  letter-spacing: $lsBase;
}

// image
img  {
	display: inline-block;
	max-width: 100%;
	height: auto;
	object-fit: cover;
	object-position: center;
}

picture {
	display: block;
}

// pc
@include pc {
	p,li,dt,dd,a {
		font-size: #{$fzBase}px;
	}
}

// sp
@include sp {
	p,li,dt,dd,a {
		font-size: vw($fzBase);
	}
}
